.App {
  text-align: center;
}

ol,
ul {
  list-style: none outside none;
}

.align-left {
  float: left;
  margin: 0 0 16px 20px;
  margin: 0 0 1rem 1.25rem;
}

.align-right {
  float: right;
  margin: 0 0 16px 20px;
  margin: 0 0 1rem 1.25rem;
}

.text-center {
  text-align: center;
}

.assistive-text {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.main {
  margin: auto;
  max-width: 1024px;
  min-height: 80vh;
  padding: 20px;
  text-align: left;
}

.red {
  color: #ff0000;
}

.bold {
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}
