.header {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.header div {
  width: 1024px;
  float: right;
}

.social-icons {
  margin: 4px 0;
  margin: 0.25rem 0;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  margin: 0;
}

.social-icons.alignright li {
  margin-left: 8px;
  margin-left: 0.5rem;
}

.fa-facebook-f:before {
  content: "\f39e";
}

.fa-youtube:before {
  content: "\f167";
}
